<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdelaidaPorcuna</title>

    <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    
<link rel="stylesheet" href="/css/panelDeControl.css">
</head>
<body>

    <header>
        <a class="cabeza" href="/">
            <img src="/img/logotipo.png" alt="logo" height="60">
        </a>
    </header>

    <h1 class="titulos">PANEL DE ADMINISTRACIÓN</h1>



<!-- productos.ejs -->

<!-- Mostrar la tabla con todos los productos -->

  <h2>Lista de Productos</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% products.forEach(product => { %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td>$<%= product.price %></td>
        <td>
        
            <a href="#" onclick="editProduct('<%= product.id %>')">Editar</a>
          <!-- Formulario para eliminar el producto -->
          <form method="post" action="/admin/products/<%= product.id %>?_method=DELETE">
            <button type="submit">Eliminar</button>
          </form>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>




<h2>Crear Nuevo Producto</h2>
<form method="post" action="/admin/products" enctype="multipart/form-data">
  <label for="name">Nombre:</label>
  <input type="text" id="name" name="name" required>
  <br>
  <label for="description">Descripción:</label>
  <input type="text" id="description" name="description" required>
  <br>
  <label for="price">Precio:</label>
  <input type="number" id="price" name="price" step="0.01" required>
  <br>
  <label for="image">Imagen:</label>
  <input type="file" id="image" name="image" accept=".jpg, .jpeg, .png" required>
  <button type="submit">Crear Producto</button>
</form>

<h2>Editar Producto</h2>
<form id="editForm" method="post" action="" enctype="multipart/form-data">
  <input type="hidden" id="productId" name="productId">
  <label for="editName">Nombre:</label>
  <input type="text" id="editName" name="name">
  <br>
  <label for="editDescription">Descripción:</label>
  <input type="text" id="editDescription" name="description">
  <br>
  <label for="editPrice">Precio:</label>
  <input type="number" id="editPrice" name="price" step="0.01">
  <label for="editImage">Imagen:</label>
<input type="file" id="editImage" name="image" accept=".jpg, .jpeg, .png">

  <br>
  <button type="submit">Guardar Cambios</button>
</form>





 








    <!-- Formulario para crear un usuario -->
    <h2 class="titulos2">Crear Nuevo Usuario:</h2>
    <form class="Actualizar" action="/admin/users" method="POST">
        <input type="text" name="username" placeholder="Nombre de usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <input type="email" name="email" placeholder="Correo electrónico" required>
        <button type="submit">Crear</button>
    </form>

    <h2 class="titulos2">Usuarios Registrados:</h2>
    <ul class="tabla">
        <% users.forEach(function(user) { %>
            <li>
                <div class="usuarios"> Usuario:  <%= user.username %>  /  Email:  <%= user.email %> </div>
            </li>
        <% }); %>
    </ul>
    

    <!-- Lista de usuarios -->
    <h2 class="titulos2">Actualización de usuarios Registrados:</h2>
    <ul>
        <% users.forEach(function(user) { %>
            <li>
                <div class="usuarios"> Usuario:  <%= user.username %>  /  Email:  <%= user.email %> </div>
                <form class="Actualizar" action="/admin/users/<%= user.id %>?_method=PUT" method="POST">
                    <input type="text" name="username" placeholder="Nuevo nombre de usuario">
                    <input type="password" name="password" placeholder="Nueva contraseña">
                    <input type="email" name="email" placeholder="Nuevo correo electrónico">
                    <button type="submit">Actualizar</button>
                </form>
                <form class="eliminar" action="/admin/users/<%= user.id %>?_method=DELETE" method="POST">
                    <button type="submit">Eliminar</button>
                </form>
            </li>
        <% }); %>
    </ul>
</body>

<script>
    function editProduct(productId) {
      // Obtener los detalles del producto mediante una solicitud AJAX
      fetch(`/admin/products/${productId}`)
        .then(response => response.json())
        .then(product => {
          // Rellenar el formulario de edición con los datos del producto
          document.getElementById('productId').value = product.id;
          document.getElementById('editName').value = product.name;
          document.getElementById('editDescription').value = product.description;
          document.getElementById('editPrice').value = product.price;
  
          // Establecer la acción del formulario para enviar una solicitud PUT
          document.getElementById('editForm').setAttribute('action', `/admin/products/${product.id}?_method=PUT`);
        })
        .catch(error => {
          console.error('Error al obtener los detalles del producto:', error);
        });
    }
  </script>

</html>
