<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdelaidaPorcuna</title>

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/perfil.css">
</head>
<body>
    <header>
        <a class="cabeza" href="/">
            <img src="/img/logotipo.png" alt="logo" height="60">
        </a>
    </header>

    <h1>Perfil de <%= username %></h1>

    <% if (products.length > 0) { %>
        <h2>Artículos Reservados:</h2>
        <ul>
          <% products.forEach(function(product) { %>
            <li><%= product.name %> = $<%= product.price %></li>
          <% }); %>
        </ul>
      <% } else { %>
        <p>No tienes artículos reservados.</p>
      <% } %>

            <% if (products.length > 0) { %>
                <h2>Artículos Reservados:</h2>
                <ul>
                <% products.forEach(function(product) { %>
                    <li>
                    <%= product.name %> = $<%= product.price %>
                    <form action="/productos/eliminar/<%= product.id %>" method="POST">
                        <button type="submit">Comprar</button>
                    </form>
                    </li>
                <% }); %>
                </ul>
            <% } else { %>
                <p>No tienes artículos reservados.</p>
            <% } %>







    <a class="cerrarses" href="/logout">Cerrar sesión</a>
</body>
</html>